.MostFreqTypos{
  font-size: calc(10px + 2vmin); 
  margin: auto;
}

.table{
  margin-left:auto; 
  margin-right:auto;
  border-collapse: collapse;
  table-layout: auto;
}

.table td{
  width: 25vmin;
  color: silver;
}

.tableHeaders{
  border-bottom: 1px solid white;
}
