.TypingTest{
    width: 95vmin;
    margin: 10vh auto 10vh auto;
    font-size: calc(16px + 2vmin); 
    white-space: pre;
    text-align: center;
    padding: 1%;
    overflow: hidden;
}

.Outgoing{
   color: gray; 
}

@media screen and (max-device-width:480px){
    .Outgoing{
        display: none;
    }
}